@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl text-center font-bold font-montserrat leading-loose;
  }
  h2,
  h3 {
    @apply text-3xl font-medium font-montserrat leading-loose;
  }
  h4 {
    @apply text-xl leading-loose font-semibold;
  }
  p {
    @apply text-lg font-openSans pb-5;
  }
  strong {
    @apply font-semibold text-purple-400;
  }
  table,
  th,
  td {
    @apply border p-2;
  }
  ul {
    @apply font-openSans text-lg list-disc list-inside;
  }
  ol {
    @apply font-openSans text-lg list-decimal;
  }
}

::selection {
  background: #ff0099;
  color: black;
  text-shadow: none;
}
::-moz-selection {
  background: #ff0099;
  color: #eee;
  text-shadow: none;
}
